<div class="combo-container">
        <span class="drop-down">
                <input type="text" class="input-control" [ngModel]="textToSort" (ngModelChange)="textChange($event)"
                        (keyup)="onKeyDownAction($event)" (focus)="onFocusEventAction()" (blur)="onBlurEventAction()" />
                <button class="drop-down-button" (click)="toogleDropDown()">
                        <i class="fa fa-angle-down"></i>
                </button>
        </span>
        <div class="data-container" *ngIf="showDropDown">
                <p *ngFor="let data of dummyDataList; 
                        let i = index" class="data-list" (click)="updateTextBox(data[columnName])"
                        [ngClass]="{highlight:checkHighlight(i)}">
                        {{data[columnName]}}
                </p>
        </div>
</div>